<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>HOME</title>
</head>
    <body>


        <div class="border border-secondary rounded p-4 mainContainer">
            <section class="row no-gutters w-100 h-100 align-items-center py-4">
                <a type="button" href="/host" class="btn btn-primary btn-lg btn-block mt-4">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    Host Streaming
                </a>

                <a type="button" href="/streaming" class="btn btn-primary btn-lg btn-block mb-4">
                    <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                    Join To Streaming
                </a>
            </section>
        </div>




        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Streaming Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <form action="/host">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Enter Room Name</label>
                            <input type="test" name="room" class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Join</button>
                    </div>
                </form>
            </div>
            </div>
        </div> -->




        <!-- Modal 2 -->
        <!-- <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Streaming Room</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
        
                        <form action="/streaming">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Enter Room Name</label>
                                    <input type="test" name="room" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->



        <script src="/jquery.min.js"></script>
        <!-- <script src="/popper.min.js"></script> -->
        <script src="/umd/popper.min.js"></script>
        <!-- <script src="/esm/popper.min.js"></script> -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="./javascripts/main.js"></script>
    </body>
</html>